[submodule "include/nicc"]
	path = include/nicc
	url = git@github.com:LytixDev/nicc.git
	branch = fix/name-collision
[submodule "include/sac"]
	path = include/sac
	url = git@github.com:LytixDev/sac.git
	branch = stb
