# ignore object files, binaries and caches
*.out
.obj/
.cache/*

# used for enhanced development
tags
compile_commands.json

# ignore compiled binary, but not src folder
slash
slash-asan
!src/slash
!include/slash

.idea/*
idea

# ignore vscode settings
.vscode/*
.vscode
